---
import {Button} from "@/components/primitives/button";
import {
  getLocaleFromParams,
  localizeUrl,
  useTranslationsFromParams
} from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";

const t = useTranslationsFromParams(Astro.params);

export const title = "404: Page Not Found";
Astro.response.status = 404;

const locale = getLocaleFromParams(Astro.params);
const homeUrl = localizeUrl("/", locale);
---

<Layout>
  <div
    class="flex min-h-[70dvh] w-full flex-col items-center justify-center py-24"
  >
    <div
      class="bg-card border-border flex w-full max-w-md flex-col items-center rounded-[var(--radius)] border p-8 shadow-sm"
    >
      <h1 class="text-destructive mb-2 text-4xl font-bold">
        {t.error[404].title}
      </h1>
      <h2 class="text-foreground mb-4 text-xl font-semibold">
        {t.error[404].subtitle}
      </h2>
      <p class="text-muted-foreground mb-8 text-center">
        {t.error[404].message}
      </p>
      <Button class="w-full" href={homeUrl} size="lg">{t.error.goHome}</Button>
    </div>
  </div>
</Layout>
