---
import Layout from "@/layouts/Layout.astro";
import {Button} from "@/components/primitives/button";
import {Input} from "@/components/primitives/input";
import Mail from "@/assets/mail.svg";
import {createAuth} from "@/lib/auth";
import {APIError} from "better-auth/api";
import {getLangFromParams, useTranslationsFromParams} from "@/i18n/utils";
import {z} from "astro:schema";

const lang = getLangFromParams(Astro.params);
const t = useTranslationsFromParams(Astro.params);

if (Astro.locals.user?.id) return Astro.redirect(`/${lang}/dashboard`);

const errors = {
  email: "",
  server: ""
};

const fields = {
  email: ""
};

let emailSent = false;

const formSchema = z.object({
  email: z.string().email()
});

if (Astro.request.method === "POST") {
  const auth = createAuth(Astro.locals.runtime.env);
  const formData = await Astro.request.formData();
  const email = formData.get("email") as string;
  fields.email = email;

  const result = formSchema.safeParse({email});

  if (!result.success) {
    errors.email = result.error.message;
    return;
  }

  try {
    const response = await auth.api.forgetPassword({
      body: {
        email,
        redirectTo: `/${lang}/reset-password`
      }
    });

    if (response.status) {
      emailSent = true;
    } else {
      throw new APIError("BAD_REQUEST");
    }
  } catch (error) {
    if (error instanceof APIError) {
      errors.server = t.auth.somethingWentWrong;
    } else {
      errors.server = t.auth.somethingWentWrong;
    }
  }
}

const signInUrl = `/${lang}/sign-in`;
---

<Layout title={t.auth.resetPassword}>
  <div
    class="flex flex-col items-center justify-center w-full py-12 min-h-[70dvh]"
  >
    <div class="w-full max-w-xs">
      <h1 class="text-2xl font-bold mb-8 text-center">
        {emailSent ? t.auth.checkEmail : t.auth.resetPassword}
      </h1>
      {
        emailSent ? (
          <p class="text-center text-sm mt-4">
            {t.auth.resetEmailSent}
            <br />
            {t.auth.resetInstruction}
          </p>
        ) : (
          <form method="POST" class="space-y-4">
            <div class="relative flex items-center rounded-md border focus-within:ring-1 focus-within:ring-ring pl-2">
              <Mail class="h-5 w-5 text-muted-foreground mr-1" />
              <Input
                type="email"
                placeholder={t.auth.email}
                class="border-0 focus-visible:ring-0 shadow-none bg-transparent dark:bg-transparent"
                name="email"
                aria-describedby="email"
                required
                value={fields.email}
              />
            </div>

            {errors.email && (
              <span class="text-red-500 text-xs ml-2" id="error">
                {errors.email}
              </span>
            )}

            {errors.server && (
              <span class="text-red-500 text-xs ml-2" id="error">
                {errors.server}
              </span>
            )}

            <Button type="submit" class="w-full mt-4">
              {t.auth.resetLink}
            </Button>

            <p class="text-center text-sm mt-4">
              {t.auth.alreadyHaveAccount}{" "}
              <a href={signInUrl} class="text-primary underline">
                {t.auth.signinHere}
              </a>
            </p>
          </form>
        )
      }
    </div>
  </div>
</Layout>
