---
import {useTranslations, getLocaleFromParams} from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import {Icon, CircleStack, PaintBrush, Key, Server} from "svelte-hero-icons";
import {Image} from "astro:assets";
import logo from "@/assets/logotype.png";

const lang = getLocaleFromParams(Astro.params);
const t = useTranslations(lang);
---

<Layout title={t.home.title}>
  <div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <div class="mb-12 flex justify-center">
          <Image src={logo} alt="Indigo Logo" class="h-36 w-auto" />
        </div>
        <p class="dark:text-seagull-400 text-seagull-800 text-lg/8">
          {t.home.description}
        </p>
      </div>
    </div>
    <div class="mx-auto mt-16 max-w-2xl px-4 sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        <div class="relative pl-16">
          <dt
            class="text-hyacinth-900 dark:text-hyacinth-100 text-base/7 font-semibold"
          >
            <div
              class="bg-hyacinth-500 absolute top-0 left-0 flex size-10 items-center justify-center rounded-full"
            >
              <Icon src={Server} class="text-background size-6" solid />
            </div>
            {t.home.feature1.title}
          </dt>
          <dd class="dark:text-seagull-200 mt-2 text-base/7 text-slate-500">
            {t.home.feature1.description}
          </dd>
        </div>
        <div class="relative pl-16">
          <dt
            class="text-seagull-900 dark:text-seagull-100 text-base/7 font-semibold"
          >
            <div
              class="bg-seagull-500 absolute top-0 left-0 flex size-10 items-center justify-center rounded-full"
            >
              <Icon src={PaintBrush} class="text-background size-6" solid />
            </div>
            {t.home.feature2.title}
          </dt>
          <dd class="dark:text-seagull-200 mt-2 text-base/7 text-slate-500">
            {t.home.feature2.description}
          </dd>
        </div>
        <div class="relative pl-16">
          <dt
            class="text-asparagus-900 dark:text-asparagus-100 text-base/7 font-semibold"
          >
            <div
              class="bg-asparagus-500 absolute top-0 left-0 flex size-10 items-center justify-center rounded-full"
            >
              <Icon src={Key} class="text-background size-6" solid />
            </div>
            {t.home.feature3.title}
          </dt>
          <dd class="dark:text-seagull-200 mt-2 text-base/7 text-slate-500">
            {t.home.feature3.description}
          </dd>
        </div>
        <div class="relative pl-16">
          <dt
            class="text-earth-900 dark:text-earth-100 text-base/7 font-semibold"
          >
            <div
              class="bg-earth-500 absolute top-0 left-0 flex size-10 items-center justify-center rounded-full"
            >
              <Icon src={CircleStack} class="text-background size-6" solid />
            </div>
            {t.home.feature4.title}
          </dt>
          <dd class="dark:text-seagull-200 mt-2 text-base/7 text-slate-500">
            {t.home.feature4.description}
          </dd>
        </div>
      </dl>
    </div>
  </div>
</Layout>
