---
if (Astro.locals.user?.id) return Astro.redirect("/dashboard");
import Layout from "@/layouts/Layout.astro";
import {Input} from "@/components/primitives/input";
import {Button} from "@/components/primitives/button";
import Mail from "@/assets/mail.svg";
import {auth} from "@/lib/auth";
import {APIError} from "better-auth/api";
import {z} from "astro:schema";

const errors = {
  email: "",
  server: "",
};

const fields = {
  email: "",
};

let emailSent = false;

const formSchema = z.object({
  email: z.string().email(),
});

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const email = formData.get("email") as string;

  const result = formSchema.safeParse({email});

  if (!result.success) {
    errors.email = result.error.message;
    return;
  }

  try {
    const response = await auth.api.forgetPassword({
      body: {
        email,
        redirectTo: "/reset-password",
      },
    });

    if (response.status) {
      emailSent = true;
    } else {
      throw new APIError("BAD_REQUEST");
    }
  } catch (error) {
    if (error instanceof APIError) {
      errors.server = "Failed to send reset link: " + error.message;
    } else {
      errors.server = "Failed to send reset link.";
    }
  }
}
---

<Layout>
  <div
    class="flex flex-col items-center justify-center w-full py-12 min-h-[70dvh]"
  >
    <div class="w-full max-w-xs">
      <h1 class="text-2xl font-bold mb-8 text-center">
        {emailSent ? "Check your inbox" : "Forgot Password"}
      </h1>
      {
        emailSent ? (
          <p class="text-center text-sm mt-4">
            An email has been sent to you with a link to reset your password. It
            will be valid for 1 hour, after which you will need to request
            another link.
          </p>
        ) : (
          <form method="POST" class="space-y-4">
            <div class="relative flex items-center rounded-md border focus-within:ring-1 focus-within:ring-ring pl-2">
              <Mail class="h-5 w-5 text-muted-foreground mr-1" />
              <Input
                type="email"
                placeholder="Email"
                class="border-0 focus-visible:ring-0 shadow-none bg-transparent dark:bg-transparent"
                name="email"
                aria-describedby="email"
                required
                value={fields.email}
              />
            </div>

            {errors.email && (
              <span class="text-red-500 text-xs ml-2" id="error">
                {errors.email}
              </span>
            )}

            {errors.server && (
              <span class="text-red-500 text-xs ml-2" id="error">
                {errors.server}
              </span>
            )}

            <Button type="submit" class="w-full mt-4">
              Send Reset Link{" "}
            </Button>

            <p class="text-center text-sm mt-4">
              Remember your password?{" "}
              <a href="/sign-in" class="text-primary underline">
                Sign in here
              </a>
            </p>
          </form>
        )
      }
    </div>
  </div>
</Layout>
